
<div *ngIf="trader">
    <h2><span jhiTranslate="tokentradeApp.trader.detail.title">Trader</span> {{trader.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.trader.name">Name</span></dt>
        <dd>
            <span>{{trader.name}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.trader.firstName">First Name</span></dt>
        <dd>
            <span>{{trader.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.trader.lastName">Last Name</span></dt>
        <dd>
            <span>{{trader.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.trader.tenant">Tenant</span></dt>
        <dd>
            <div *ngIf="trader.tenant">
                <a [routerLink]="['/tenant', trader.tenant?.id]">{{trader.tenant?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.trader.user">User</span></dt>
        <dd>
            {{trader.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trader/'+ trader.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
