<div>
    <h2>
        <span jhiTranslate="tokentradeApp.tradingOrderPackage.home.title">Trading Order Packages</span>
        <button class="btn btn-primary float-right jh-create-entity create-trading-order-package" [routerLink]="['/', { outlets: { popup: ['trading-order-package-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="tokentradeApp.tradingOrderPackage.home.createLabel">
            Create new Trading Order Package
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tokentradeApp.tradingOrderPackage.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tradingOrderPackages">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uuid"><span jhiTranslate="tokentradeApp.tradingOrderPackage.uuid">Uuid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tradingPlan.id"><span jhiTranslate="tokentradeApp.tradingOrderPackage.tradingPlan">Trading Plan</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tradingOrderPackage of tradingOrderPackages ;trackBy: trackId">
                <td><a [routerLink]="['../trading-order-package', tradingOrderPackage.id ]">{{tradingOrderPackage.id}}</a></td>
                <td>{{tradingOrderPackage.uuid}}</td>
                <td>
                    <div *ngIf="tradingOrderPackage.tradingPlan">
                        <a [routerLink]="['../trading-plan', tradingOrderPackage.tradingPlan?.id ]" >{{tradingOrderPackage.tradingPlan?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trading-order-package', tradingOrderPackage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trading-order-package/'+ tradingOrderPackage.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trading-order-package/'+ tradingOrderPackage.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
