<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTradingOrderPackageLabel" jhiTranslate="tokentradeApp.tradingOrderPackage.home.createOrEditLabel">Create or edit a Trading Order Package</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tradingOrderPackage.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tradingOrderPackage.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrderPackage.uuid" for="field_uuid">Uuid</label>
            <input type="text" class="form-control" name="uuid" id="field_uuid"
                [(ngModel)]="tradingOrderPackage.uuid" required />
            <div [hidden]="!(editForm.controls.uuid?.dirty && editForm.controls.uuid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.uuid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrderPackage.tradingPlan" for="field_tradingPlan">Trading Plan</label>
            <select class="form-control" id="field_tradingPlan" name="tradingPlan" [(ngModel)]="tradingOrderPackage.tradingPlan" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tradingPlanOption.id === tradingOrderPackage.tradingPlan?.id ? tradingOrderPackage.tradingPlan : tradingPlanOption" *ngFor="let tradingPlanOption of tradingplans; trackBy: trackTradingPlanById">{{tradingPlanOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
