
<div *ngIf="tradingOrderPackage">
    <h2><span jhiTranslate="tokentradeApp.tradingOrderPackage.detail.title">Trading Order Package</span> {{tradingOrderPackage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.tradingOrderPackage.uuid">Uuid</span></dt>
        <dd>
            <span>{{tradingOrderPackage.uuid}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingOrderPackage.tradingPlan">Trading Plan</span></dt>
        <dd>
            <div *ngIf="tradingOrderPackage.tradingPlan">
                <a [routerLink]="['/trading-plan', tradingOrderPackage.tradingPlan?.id]">{{tradingOrderPackage.tradingPlan?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trading-order-package/'+ tradingOrderPackage.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
