<div>
    <h2>
        <span jhiTranslate="tokentradeApp.tradingOrder.home.title">Trading Orders</span>
        <button class="btn btn-primary float-right jh-create-entity create-trading-order" [routerLink]="['/', { outlets: { popup: ['trading-order-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="tokentradeApp.tradingOrder.home.createLabel">
            Create new Trading Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tokentradeApp.tradingOrder.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tradingOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uuid"><span jhiTranslate="tokentradeApp.tradingOrder.uuid">Uuid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="tokentradeApp.tradingOrder.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="originalAmount"><span jhiTranslate="tokentradeApp.tradingOrder.originalAmount">Original Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="averagePrice"><span jhiTranslate="tokentradeApp.tradingOrder.averagePrice">Average Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cumulativeAmount"><span jhiTranslate="tokentradeApp.tradingOrder.cumulativeAmount">Cumulative Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="marketAccount.id"><span jhiTranslate="tokentradeApp.tradingOrder.marketAccount">Market Account</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tradingOrderType.id"><span jhiTranslate="tokentradeApp.tradingOrder.tradingOrderType">Trading Order Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tradingOrderPackage.id"><span jhiTranslate="tokentradeApp.tradingOrder.tradingOrderPackage">Trading Order Package</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="asset.id"><span jhiTranslate="tokentradeApp.tradingOrder.asset">Asset</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tradingOrder of tradingOrders ;trackBy: trackId">
                <td><a [routerLink]="['../trading-order', tradingOrder.id ]">{{tradingOrder.id}}</a></td>
                <td>{{tradingOrder.uuid}}</td>
                <td jhiTranslate="{{'tokentradeApp.TradingOrderStatus.' + tradingOrder.status}}">{{tradingOrder.status}}</td>
                <td>{{tradingOrder.originalAmount}}</td>
                <td>{{tradingOrder.averagePrice}}</td>
                <td>{{tradingOrder.cumulativeAmount}}</td>
                <td>
                    <div *ngIf="tradingOrder.marketAccount">
                        <a [routerLink]="['../market-account', tradingOrder.marketAccount?.id ]" >{{tradingOrder.marketAccount?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tradingOrder.tradingOrderType">
                        <a [routerLink]="['../trading-order-type', tradingOrder.tradingOrderType?.id ]" >{{tradingOrder.tradingOrderType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tradingOrder.tradingOrderPackage">
                        <a [routerLink]="['../trading-order-package', tradingOrder.tradingOrderPackage?.id ]" >{{tradingOrder.tradingOrderPackage?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tradingOrder.asset">
                        <a [routerLink]="['../asset', tradingOrder.asset?.id ]" >{{tradingOrder.asset?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trading-order', tradingOrder.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trading-order/'+ tradingOrder.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trading-order/'+ tradingOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
