<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTradingOrderLabel" jhiTranslate="tokentradeApp.tradingOrder.home.createOrEditLabel">Create or edit a Trading Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tradingOrder.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tradingOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrder.uuid" for="field_uuid">Uuid</label>
            <input type="text" class="form-control" name="uuid" id="field_uuid"
                [(ngModel)]="tradingOrder.uuid" required />
            <div [hidden]="!(editForm.controls.uuid?.dirty && editForm.controls.uuid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.uuid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrder.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="tradingOrder.status" id="field_status"  required>
                <option value="PENDING_NEW">{{'tokentradeApp.TradingOrderStatus.PENDING_NEW' | translate}}</option>
                <option value="NEW">{{'tokentradeApp.TradingOrderStatus.NEW' | translate}}</option>
                <option value="PARTIALLY_FILLED">{{'tokentradeApp.TradingOrderStatus.PARTIALLY_FILLED' | translate}}</option>
                <option value="FILLED">{{'tokentradeApp.TradingOrderStatus.FILLED' | translate}}</option>
                <option value="PENDING_CANCEL">{{'tokentradeApp.TradingOrderStatus.PENDING_CANCEL' | translate}}</option>
                <option value="CANCELED">{{'tokentradeApp.TradingOrderStatus.CANCELED' | translate}}</option>
                <option value="PENDING_REPLACE">{{'tokentradeApp.TradingOrderStatus.PENDING_REPLACE' | translate}}</option>
                <option value="REPLACED">{{'tokentradeApp.TradingOrderStatus.REPLACED' | translate}}</option>
                <option value="STOPPED">{{'tokentradeApp.TradingOrderStatus.STOPPED' | translate}}</option>
                <option value="REJECTED">{{'tokentradeApp.TradingOrderStatus.REJECTED' | translate}}</option>
                <option value="EXPIRED">{{'tokentradeApp.TradingOrderStatus.EXPIRED' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrder.originalAmount" for="field_originalAmount">Original Amount</label>
            <input type="number" class="form-control" name="originalAmount" id="field_originalAmount"
                [(ngModel)]="tradingOrder.originalAmount" required />
            <div [hidden]="!(editForm.controls.originalAmount?.dirty && editForm.controls.originalAmount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.originalAmount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.originalAmount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrder.averagePrice" for="field_averagePrice">Average Price</label>
            <input type="number" class="form-control" name="averagePrice" id="field_averagePrice"
                [(ngModel)]="tradingOrder.averagePrice"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrder.cumulativeAmount" for="field_cumulativeAmount">Cumulative Amount</label>
            <input type="number" class="form-control" name="cumulativeAmount" id="field_cumulativeAmount"
                [(ngModel)]="tradingOrder.cumulativeAmount"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrder.marketAccount" for="field_marketAccount">Market Account</label>
            <select class="form-control" id="field_marketAccount" name="marketAccount" [(ngModel)]="tradingOrder.marketAccount" >
                <option [ngValue]="null"></option>
                <option [ngValue]="marketAccountOption.id === tradingOrder.marketAccount?.id ? tradingOrder.marketAccount : marketAccountOption" *ngFor="let marketAccountOption of marketaccounts; trackBy: trackMarketAccountById">{{marketAccountOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrder.tradingOrderType" for="field_tradingOrderType">Trading Order Type</label>
            <select class="form-control" id="field_tradingOrderType" name="tradingOrderType" [(ngModel)]="tradingOrder.tradingOrderType" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tradingOrderTypeOption.id === tradingOrder.tradingOrderType?.id ? tradingOrder.tradingOrderType : tradingOrderTypeOption" *ngFor="let tradingOrderTypeOption of tradingordertypes; trackBy: trackTradingOrderTypeById">{{tradingOrderTypeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrder.tradingOrderPackage" for="field_tradingOrderPackage">Trading Order Package</label>
            <select class="form-control" id="field_tradingOrderPackage" name="tradingOrderPackage" [(ngModel)]="tradingOrder.tradingOrderPackage" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tradingOrderPackageOption.id === tradingOrder.tradingOrderPackage?.id ? tradingOrder.tradingOrderPackage : tradingOrderPackageOption" *ngFor="let tradingOrderPackageOption of tradingorderpackages; trackBy: trackTradingOrderPackageById">{{tradingOrderPackageOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrder.asset" for="field_asset">Asset</label>
            <select class="form-control" id="field_asset" name="asset" [(ngModel)]="tradingOrder.asset" >
                <option [ngValue]="null"></option>
                <option [ngValue]="assetOption.id === tradingOrder.asset?.id ? tradingOrder.asset : assetOption" *ngFor="let assetOption of assets; trackBy: trackAssetById">{{assetOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
