
<div *ngIf="tradingOrder">
    <h2><span jhiTranslate="tokentradeApp.tradingOrder.detail.title">Trading Order</span> {{tradingOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.tradingOrder.uuid">Uuid</span></dt>
        <dd>
            <span>{{tradingOrder.uuid}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingOrder.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'tokentradeApp.TradingOrderStatus.' + tradingOrder.status}}">{{tradingOrder.status}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingOrder.originalAmount">Original Amount</span></dt>
        <dd>
            <span>{{tradingOrder.originalAmount}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingOrder.averagePrice">Average Price</span></dt>
        <dd>
            <span>{{tradingOrder.averagePrice}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingOrder.cumulativeAmount">Cumulative Amount</span></dt>
        <dd>
            <span>{{tradingOrder.cumulativeAmount}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingOrder.marketAccount">Market Account</span></dt>
        <dd>
            <div *ngIf="tradingOrder.marketAccount">
                <a [routerLink]="['/market-account', tradingOrder.marketAccount?.id]">{{tradingOrder.marketAccount?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingOrder.tradingOrderType">Trading Order Type</span></dt>
        <dd>
            <div *ngIf="tradingOrder.tradingOrderType">
                <a [routerLink]="['/trading-order-type', tradingOrder.tradingOrderType?.id]">{{tradingOrder.tradingOrderType?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingOrder.tradingOrderPackage">Trading Order Package</span></dt>
        <dd>
            <div *ngIf="tradingOrder.tradingOrderPackage">
                <a [routerLink]="['/trading-order-package', tradingOrder.tradingOrderPackage?.id]">{{tradingOrder.tradingOrderPackage?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingOrder.asset">Asset</span></dt>
        <dd>
            <div *ngIf="tradingOrder.asset">
                <a [routerLink]="['/asset', tradingOrder.asset?.id]">{{tradingOrder.asset?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trading-order/'+ tradingOrder.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
