<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAssetLabel" jhiTranslate="tokentradeApp.asset.home.createOrEditLabel">Create or edit a Asset</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!asset.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="asset.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.asset.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="asset.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.asset.shortName" for="field_shortName">Short Name</label>
            <input type="text" class="form-control" name="shortName" id="field_shortName"
                [(ngModel)]="asset.shortName" required />
            <div [hidden]="!(editForm.controls.shortName?.dirty && editForm.controls.shortName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.shortName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.asset.implementation" for="field_implementation">Implementation</label>
            <input type="text" class="form-control" name="implementation" id="field_implementation"
                [(ngModel)]="asset.implementation" required />
            <div [hidden]="!(editForm.controls.implementation?.dirty && editForm.controls.implementation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.implementation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.asset.chartRepresentation" for="field_chartRepresentation">Chart Representation</label>
            <input type="text" class="form-control" name="chartRepresentation" id="field_chartRepresentation"
                [(ngModel)]="asset.chartRepresentation" required />
            <div [hidden]="!(editForm.controls.chartRepresentation?.dirty && editForm.controls.chartRepresentation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.chartRepresentation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.asset.market" for="field_market">Market</label>
            <select class="form-control" id="field_market" name="market" [(ngModel)]="asset.market" >
                <option [ngValue]="null"></option>
                <option [ngValue]="marketOption.id === asset.market?.id ? asset.market : marketOption" *ngFor="let marketOption of markets; trackBy: trackMarketById">{{marketOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.asset.marketCurrency" for="field_marketCurrency">Market Currency</label>
            <select class="form-control" id="field_marketCurrency" name="marketCurrency" [(ngModel)]="asset.marketCurrency" >
                <option [ngValue]="null"></option>
                <option [ngValue]="currencyOption.id === asset.marketCurrency?.id ? asset.marketCurrency : currencyOption" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.asset.baseCurrency" for="field_baseCurrency">Base Currency</label>
            <select class="form-control" id="field_baseCurrency" name="baseCurrency" [(ngModel)]="asset.baseCurrency" >
                <option [ngValue]="null"></option>
                <option [ngValue]="currencyOption.id === asset.baseCurrency?.id ? asset.baseCurrency : currencyOption" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
