<div>
    <h2>
        <span jhiTranslate="tokentradeApp.asset.home.title">Assets</span>
        <button class="btn btn-primary float-right jh-create-entity create-asset" [routerLink]="['/', { outlets: { popup: ['asset-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="tokentradeApp.asset.home.createLabel">
            Create new Asset
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tokentradeApp.asset.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="assets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="tokentradeApp.asset.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shortName"><span jhiTranslate="tokentradeApp.asset.shortName">Short Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="implementation"><span jhiTranslate="tokentradeApp.asset.implementation">Implementation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="chartRepresentation"><span jhiTranslate="tokentradeApp.asset.chartRepresentation">Chart Representation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="market.id"><span jhiTranslate="tokentradeApp.asset.market">Market</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="marketCurrency.id"><span jhiTranslate="tokentradeApp.asset.marketCurrency">Market Currency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="baseCurrency.id"><span jhiTranslate="tokentradeApp.asset.baseCurrency">Base Currency</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asset of assets ;trackBy: trackId">
                <td><a [routerLink]="['../asset', asset.id ]">{{asset.id}}</a></td>
                <td>{{asset.name}}</td>
                <td>{{asset.shortName}}</td>
                <td>{{asset.implementation}}</td>
                <td>{{asset.chartRepresentation}}</td>
                <td>
                    <div *ngIf="asset.market">
                        <a [routerLink]="['../market', asset.market?.id ]" >{{asset.market?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="asset.marketCurrency">
                        <a [routerLink]="['../currency', asset.marketCurrency?.id ]" >{{asset.marketCurrency?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="asset.baseCurrency">
                        <a [routerLink]="['../currency', asset.baseCurrency?.id ]" >{{asset.baseCurrency?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../asset', asset.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'asset/'+ asset.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'asset/'+ asset.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="assets && assets.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
