
<div *ngIf="asset">
    <h2><span jhiTranslate="tokentradeApp.asset.detail.title">Asset</span> {{asset.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.asset.name">Name</span></dt>
        <dd>
            <span>{{asset.name}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.asset.shortName">Short Name</span></dt>
        <dd>
            <span>{{asset.shortName}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.asset.implementation">Implementation</span></dt>
        <dd>
            <span>{{asset.implementation}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.asset.chartRepresentation">Chart Representation</span></dt>
        <dd>
            <span>{{asset.chartRepresentation}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.asset.market">Market</span></dt>
        <dd>
            <div *ngIf="asset.market">
                <a [routerLink]="['/market', asset.market?.id]">{{asset.market?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.asset.marketCurrency">Market Currency</span></dt>
        <dd>
            <div *ngIf="asset.marketCurrency">
                <a [routerLink]="['/currency', asset.marketCurrency?.id]">{{asset.marketCurrency?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.asset.baseCurrency">Base Currency</span></dt>
        <dd>
            <div *ngIf="asset.baseCurrency">
                <a [routerLink]="['/currency', asset.baseCurrency?.id]">{{asset.baseCurrency?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'asset/'+ asset.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
