<div>
    <h2>
        <span jhiTranslate="tokentradeApp.marketAccount.home.title">Market Accounts</span>
        <button class="btn btn-primary float-right jh-create-entity create-market-account" [routerLink]="['/', { outlets: { popup: ['market-account-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="tokentradeApp.marketAccount.home.createLabel">
            Create new Market Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tokentradeApp.marketAccount.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="marketAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="marketAccountType"><span jhiTranslate="tokentradeApp.marketAccount.marketAccountType">Market Account Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userName"><span jhiTranslate="tokentradeApp.marketAccount.userName">User Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="password"><span jhiTranslate="tokentradeApp.marketAccount.password">Password</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="apiKey"><span jhiTranslate="tokentradeApp.marketAccount.apiKey">Api Key</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="secretKey"><span jhiTranslate="tokentradeApp.marketAccount.secretKey">Secret Key</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="client.id"><span jhiTranslate="tokentradeApp.marketAccount.client">Client</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="market.id"><span jhiTranslate="tokentradeApp.marketAccount.market">Market</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let marketAccount of marketAccounts ;trackBy: trackId">
                <td><a [routerLink]="['../market-account', marketAccount.id ]">{{marketAccount.id}}</a></td>
                <td jhiTranslate="{{'tokentradeApp.MarketAccountType.' + marketAccount.marketAccountType}}">{{marketAccount.marketAccountType}}</td>
                <td>{{marketAccount.userName}}</td>
                <td>{{marketAccount.password}}</td>
                <td>{{marketAccount.apiKey}}</td>
                <td>{{marketAccount.secretKey}}</td>
                <td>
                    <div *ngIf="marketAccount.client">
                        <a [routerLink]="['../client', marketAccount.client?.id ]" >{{marketAccount.client?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="marketAccount.market">
                        <a [routerLink]="['../market', marketAccount.market?.id ]" >{{marketAccount.market?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../market-account', marketAccount.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'market-account/'+ marketAccount.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'market-account/'+ marketAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="marketAccounts && marketAccounts.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
