
<div *ngIf="marketAccount">
    <h2><span jhiTranslate="tokentradeApp.marketAccount.detail.title">Market Account</span> {{marketAccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.marketAccount.marketAccountType">Market Account Type</span></dt>
        <dd>
            <span jhiTranslate="{{'tokentradeApp.MarketAccountType.' + marketAccount.marketAccountType}}">{{marketAccount.marketAccountType}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.marketAccount.userName">User Name</span></dt>
        <dd>
            <span>{{marketAccount.userName}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.marketAccount.password">Password</span></dt>
        <dd>
            <span>{{marketAccount.password}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.marketAccount.apiKey">Api Key</span></dt>
        <dd>
            <span>{{marketAccount.apiKey}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.marketAccount.secretKey">Secret Key</span></dt>
        <dd>
            <span>{{marketAccount.secretKey}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.marketAccount.client">Client</span></dt>
        <dd>
            <div *ngIf="marketAccount.client">
                <a [routerLink]="['/client', marketAccount.client?.id]">{{marketAccount.client?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.marketAccount.market">Market</span></dt>
        <dd>
            <div *ngIf="marketAccount.market">
                <a [routerLink]="['/market', marketAccount.market?.id]">{{marketAccount.market?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'market-account/'+ marketAccount.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
