<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMarketAccountLabel" jhiTranslate="tokentradeApp.marketAccount.home.createOrEditLabel">Create or edit a Market Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!marketAccount.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="marketAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.marketAccount.marketAccountType" for="field_marketAccountType">Market Account Type</label>
            <select class="form-control" name="marketAccountType" [(ngModel)]="marketAccount.marketAccountType" id="field_marketAccountType"  required>
                <option value="PRIMARY">{{'tokentradeApp.MarketAccountType.PRIMARY' | translate}}</option>
                <option value="SECONDARY">{{'tokentradeApp.MarketAccountType.SECONDARY' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.marketAccountType?.dirty && editForm.controls.marketAccountType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.marketAccountType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.marketAccount.userName" for="field_userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="field_userName"
                [(ngModel)]="marketAccount.userName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.marketAccount.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="marketAccount.password"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.marketAccount.apiKey" for="field_apiKey">Api Key</label>
            <input type="text" class="form-control" name="apiKey" id="field_apiKey"
                [(ngModel)]="marketAccount.apiKey" required />
            <div [hidden]="!(editForm.controls.apiKey?.dirty && editForm.controls.apiKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.apiKey?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.marketAccount.secretKey" for="field_secretKey">Secret Key</label>
            <input type="text" class="form-control" name="secretKey" id="field_secretKey"
                [(ngModel)]="marketAccount.secretKey" required />
            <div [hidden]="!(editForm.controls.secretKey?.dirty && editForm.controls.secretKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.secretKey?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.marketAccount.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="marketAccount.client" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id === marketAccount.client?.id ? marketAccount.client : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.marketAccount.market" for="field_market">Market</label>
            <select class="form-control" id="field_market" name="market" [(ngModel)]="marketAccount.market" >
                <option [ngValue]="null"></option>
                <option [ngValue]="marketOption.id === marketAccount.market?.id ? marketAccount.market : marketOption" *ngFor="let marketOption of markets; trackBy: trackMarketById">{{marketOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
