<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCurrencyLabel" jhiTranslate="tokentradeApp.currency.home.createOrEditLabel">Create or edit a Currency</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!currency.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="currency.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.currency.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="currency.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.currency.shortName" for="field_shortName">Short Name</label>
            <input type="text" class="form-control" name="shortName" id="field_shortName"
                [(ngModel)]="currency.shortName" required />
            <div [hidden]="!(editForm.controls.shortName?.dirty && editForm.controls.shortName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.shortName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.currency.implementation" for="field_implementation">Implementation</label>
            <input type="text" class="form-control" name="implementation" id="field_implementation"
                [(ngModel)]="currency.implementation" required />
            <div [hidden]="!(editForm.controls.implementation?.dirty && editForm.controls.implementation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.implementation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.currency.chartRepresentation" for="field_chartRepresentation">Chart Representation</label>
            <input type="text" class="form-control" name="chartRepresentation" id="field_chartRepresentation"
                [(ngModel)]="currency.chartRepresentation" required />
            <div [hidden]="!(editForm.controls.chartRepresentation?.dirty && editForm.controls.chartRepresentation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.chartRepresentation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.currency.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="currency.description"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
