
<div *ngIf="currency">
    <h2><span jhiTranslate="tokentradeApp.currency.detail.title">Currency</span> {{currency.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.currency.name">Name</span></dt>
        <dd>
            <span>{{currency.name}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.currency.shortName">Short Name</span></dt>
        <dd>
            <span>{{currency.shortName}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.currency.implementation">Implementation</span></dt>
        <dd>
            <span>{{currency.implementation}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.currency.chartRepresentation">Chart Representation</span></dt>
        <dd>
            <span>{{currency.chartRepresentation}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.currency.description">Description</span></dt>
        <dd>
            <span>{{currency.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'currency/'+ currency.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
