<div>
    <h2>
        <span jhiTranslate="tokentradeApp.tenant.home.title">Tenants</span>
        <button class="btn btn-primary float-right jh-create-entity create-tenant" [routerLink]="['/', { outlets: { popup: ['tenant-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="tokentradeApp.tenant.home.createLabel">
            Create new Tenant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tokentradeApp.tenant.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tenants">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="tokentradeApp.tenant.name">Name</span></th>
            <th><span jhiTranslate="tokentradeApp.tenant.shortName">Short Name</span></th>
            <th><span jhiTranslate="tokentradeApp.tenant.resource">Resource</span></th>
            <th><span jhiTranslate="tokentradeApp.tenant.admin">Admin</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tenant of tenants ;trackBy: trackId">
                <td><a [routerLink]="['../tenant', tenant.id ]">{{tenant.id}}</a></td>
                <td>{{tenant.name}}</td>
                <td>{{tenant.shortName}}</td>
                <td>{{tenant.resource}}</td>
                <td>
                    {{tenant.admin?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tenant', tenant.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tenant/'+ tenant.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tenant/'+ tenant.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
