
<div *ngIf="tenant">
    <h2><span jhiTranslate="tokentradeApp.tenant.detail.title">Tenant</span> {{tenant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.tenant.name">Name</span></dt>
        <dd>
            <span>{{tenant.name}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tenant.shortName">Short Name</span></dt>
        <dd>
            <span>{{tenant.shortName}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tenant.resource">Resource</span></dt>
        <dd>
            <span>{{tenant.resource}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tenant.admin">Admin</span></dt>
        <dd>
            {{tenant.admin?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tenant/'+ tenant.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
