<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTradingPlanLabel" jhiTranslate="tokentradeApp.tradingPlan.home.createOrEditLabel">Create or edit a Trading Plan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tradingPlan.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tradingPlan.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingPlan.uuid" for="field_uuid">Uuid</label>
            <input type="text" class="form-control" name="uuid" id="field_uuid"
                [(ngModel)]="tradingPlan.uuid" required />
            <div [hidden]="!(editForm.controls.uuid?.dirty && editForm.controls.uuid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.uuid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingPlan.tradingType" for="field_tradingType">Trading Type</label>
            <select class="form-control" name="tradingType" [(ngModel)]="tradingPlan.tradingType" id="field_tradingType"  required>
                <option value="BID">{{'tokentradeApp.TradingType.BID' | translate}}</option>
                <option value="ASK">{{'tokentradeApp.TradingType.ASK' | translate}}</option>
                <option value="BID_LIMIT">{{'tokentradeApp.TradingType.BID_LIMIT' | translate}}</option>
                <option value="ASK_LIMIT">{{'tokentradeApp.TradingType.ASK_LIMIT' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.tradingType?.dirty && editForm.controls.tradingType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tradingType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingPlan.note" for="field_note">Note</label>
            <select class="form-control" id="field_note" name="note" [(ngModel)]="tradingPlan.note">
                <option [ngValue]="null"></option>
                <option [ngValue]="noteOption.id === tradingPlan.note?.id ? tradingPlan.note : noteOption" *ngFor="let noteOption of notes; trackBy: trackNoteById">{{noteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingPlan.trader" for="field_trader">Trader</label>
            <select class="form-control" id="field_trader" name="trader" [(ngModel)]="tradingPlan.trader" >
                <option [ngValue]="null"></option>
                <option [ngValue]="traderOption.id === tradingPlan.trader?.id ? tradingPlan.trader : traderOption" *ngFor="let traderOption of traders; trackBy: trackTraderById">{{traderOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
