
<div *ngIf="tradingPlan">
    <h2><span jhiTranslate="tokentradeApp.tradingPlan.detail.title">Trading Plan</span> {{tradingPlan.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.tradingPlan.uuid">Uuid</span></dt>
        <dd>
            <span>{{tradingPlan.uuid}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingPlan.tradingType">Trading Type</span></dt>
        <dd>
            <span jhiTranslate="{{'tokentradeApp.TradingType.' + tradingPlan.tradingType}}">{{tradingPlan.tradingType}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingPlan.note">Note</span></dt>
        <dd>
            <div *ngIf="tradingPlan.note">
                <a [routerLink]="['/note', tradingPlan.note?.id]">{{tradingPlan.note?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingPlan.trader">Trader</span></dt>
        <dd>
            <div *ngIf="tradingPlan.trader">
                <a [routerLink]="['/trader', tradingPlan.trader?.id]">{{tradingPlan.trader?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trading-plan/'+ tradingPlan.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
