<div>
    <h2>
        <span jhiTranslate="tokentradeApp.tradingPlan.home.title">Trading Plans</span>
        <button class="btn btn-primary float-right jh-create-entity create-trading-plan" [routerLink]="['/', { outlets: { popup: ['trading-plan-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="tokentradeApp.tradingPlan.home.createLabel">
            Create new Trading Plan
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tokentradeApp.tradingPlan.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tradingPlans">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uuid"><span jhiTranslate="tokentradeApp.tradingPlan.uuid">Uuid</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tradingType"><span jhiTranslate="tokentradeApp.tradingPlan.tradingType">Trading Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="note.id"><span jhiTranslate="tokentradeApp.tradingPlan.note">Note</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="trader.id"><span jhiTranslate="tokentradeApp.tradingPlan.trader">Trader</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tradingPlan of tradingPlans ;trackBy: trackId">
                <td><a [routerLink]="['../trading-plan', tradingPlan.id ]">{{tradingPlan.id}}</a></td>
                <td>{{tradingPlan.uuid}}</td>
                <td jhiTranslate="{{'tokentradeApp.TradingType.' + tradingPlan.tradingType}}">{{tradingPlan.tradingType}}</td>
                <td>
                    <div *ngIf="tradingPlan.note">
                        <a [routerLink]="['../note', tradingPlan.note?.id ]" >{{tradingPlan.note?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tradingPlan.trader">
                        <a [routerLink]="['../trader', tradingPlan.trader?.id ]" >{{tradingPlan.trader?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trading-plan', tradingPlan.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trading-plan/'+ tradingPlan.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trading-plan/'+ tradingPlan.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
