<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMarketLabel" jhiTranslate="tokentradeApp.market.home.createOrEditLabel">Create or edit a Market</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!market.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="market.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.market.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="market.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.market.shortName" for="field_shortName">Short Name</label>
            <input type="text" class="form-control" name="shortName" id="field_shortName"
                [(ngModel)]="market.shortName" required />
            <div [hidden]="!(editForm.controls.shortName?.dirty && editForm.controls.shortName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.shortName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.market.implementation" for="field_implementation">Implementation</label>
            <input type="text" class="form-control" name="implementation" id="field_implementation"
                [(ngModel)]="market.implementation" required />
            <div [hidden]="!(editForm.controls.implementation?.dirty && editForm.controls.implementation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.implementation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.market.chartRepresentation" for="field_chartRepresentation">Chart Representation</label>
            <input type="text" class="form-control" name="chartRepresentation" id="field_chartRepresentation"
                [(ngModel)]="market.chartRepresentation" required />
            <div [hidden]="!(editForm.controls.chartRepresentation?.dirty && editForm.controls.chartRepresentation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.chartRepresentation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.market.note" for="field_note">Note</label>
            <select class="form-control" id="field_note" name="note" [(ngModel)]="market.note">
                <option [ngValue]="null"></option>
                <option [ngValue]="noteOption.id === market.note?.id ? market.note : noteOption" *ngFor="let noteOption of notes; trackBy: trackNoteById">{{noteOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.market.tenant" for="field_tenant">Tenant</label>
            <select class="form-control" id="field_tenant" name="tenant" [(ngModel)]="market.tenant" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tenantOption.id === market.tenant?.id ? market.tenant : tenantOption" *ngFor="let tenantOption of tenants; trackBy: trackTenantById">{{tenantOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
