<div>
    <h2>
        <span jhiTranslate="tokentradeApp.market.home.title">Markets</span>
        <button class="btn btn-primary float-right jh-create-entity create-market" [routerLink]="['/', { outlets: { popup: ['market-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="tokentradeApp.market.home.createLabel">
            Create new Market
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tokentradeApp.market.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="markets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="tokentradeApp.market.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shortName"><span jhiTranslate="tokentradeApp.market.shortName">Short Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="implementation"><span jhiTranslate="tokentradeApp.market.implementation">Implementation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="chartRepresentation"><span jhiTranslate="tokentradeApp.market.chartRepresentation">Chart Representation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="note.id"><span jhiTranslate="tokentradeApp.market.note">Note</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tenant.id"><span jhiTranslate="tokentradeApp.market.tenant">Tenant</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let market of markets ;trackBy: trackId">
                <td><a [routerLink]="['../market', market.id ]">{{market.id}}</a></td>
                <td>{{market.name}}</td>
                <td>{{market.shortName}}</td>
                <td>{{market.implementation}}</td>
                <td>{{market.chartRepresentation}}</td>
                <td>
                    <div *ngIf="market.note">
                        <a [routerLink]="['../note', market.note?.id ]" >{{market.note?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="market.tenant">
                        <a [routerLink]="['../tenant', market.tenant?.id ]" >{{market.tenant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../market', market.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'market/'+ market.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'market/'+ market.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="markets && markets.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
