
<div *ngIf="market">
    <h2><span jhiTranslate="tokentradeApp.market.detail.title">Market</span> {{market.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.market.name">Name</span></dt>
        <dd>
            <span>{{market.name}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.market.shortName">Short Name</span></dt>
        <dd>
            <span>{{market.shortName}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.market.implementation">Implementation</span></dt>
        <dd>
            <span>{{market.implementation}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.market.chartRepresentation">Chart Representation</span></dt>
        <dd>
            <span>{{market.chartRepresentation}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.market.note">Note</span></dt>
        <dd>
            <div *ngIf="market.note">
                <a [routerLink]="['/note', market.note?.id]">{{market.note?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.market.tenant">Tenant</span></dt>
        <dd>
            <div *ngIf="market.tenant">
                <a [routerLink]="['/tenant', market.tenant?.id]">{{market.tenant?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'market/'+ market.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
