<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBalanceLabel" jhiTranslate="tokentradeApp.balance.home.createOrEditLabel">Create or edit a Balance</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!balance.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="balance.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.balance.balanceData" for="field_balanceData">Balance Data</label>
            <input type="text" class="form-control" name="balanceData" id="field_balanceData"
                [(ngModel)]="balance.balanceData"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.balance.marketAccount" for="field_marketAccount">Market Account</label>
            <select class="form-control" id="field_marketAccount" name="marketAccount" [(ngModel)]="balance.marketAccount" >
                <option [ngValue]="null"></option>
                <option [ngValue]="marketAccountOption.id === balance.marketAccount?.id ? balance.marketAccount : marketAccountOption" *ngFor="let marketAccountOption of marketaccounts; trackBy: trackMarketAccountById">{{marketAccountOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.balance.parent" for="field_parent">Parent</label>
            <select class="form-control" id="field_parent" name="parent" [(ngModel)]="balance.parent" >
                <option [ngValue]="null"></option>
                <option [ngValue]="balanceOption.id === balance.parent?.id ? balance.parent : balanceOption" *ngFor="let balanceOption of balances; trackBy: trackBalanceById">{{balanceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
