
<div *ngIf="balance">
    <h2><span jhiTranslate="tokentradeApp.balance.detail.title">Balance</span> {{balance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.balance.balanceData">Balance Data</span></dt>
        <dd>
            <span>{{balance.balanceData}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.balance.marketAccount">Market Account</span></dt>
        <dd>
            <div *ngIf="balance.marketAccount">
                <a [routerLink]="['/market-account', balance.marketAccount?.id]">{{balance.marketAccount?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.balance.parent">Parent</span></dt>
        <dd>
            <div *ngIf="balance.parent">
                <a [routerLink]="['/balance', balance.parent?.id]">{{balance.parent?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'balance/'+ balance.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
