
<div *ngIf="client">
    <h2><span jhiTranslate="tokentradeApp.client.detail.title">Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.client.name">Name</span></dt>
        <dd>
            <span>{{client.name}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.client.email">Email</span></dt>
        <dd>
            <span>{{client.email}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.client.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'tokentradeApp.ClientStatus.' + client.status}}">{{client.status}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.client.tenant">Tenant</span></dt>
        <dd>
            <div *ngIf="client.tenant">
                <a [routerLink]="['/tenant', client.tenant?.id]">{{client.tenant?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
