
<div *ngIf="tradingOrderType">
    <h2><span jhiTranslate="tokentradeApp.tradingOrderType.detail.title">Trading Order Type</span> {{tradingOrderType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.tradingOrderType.tradingOrdertype">Trading Ordertype</span></dt>
        <dd>
            <span>{{tradingOrderType.tradingOrdertype}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.tradingOrderType.supportedMarket">Supported Market</span></dt>
        <dd>
            <div *ngIf="tradingOrderType.supportedMarket">
                <a [routerLink]="['/market', tradingOrderType.supportedMarket?.id]">{{tradingOrderType.supportedMarket?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'trading-order-type/'+ tradingOrderType.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
