<div>
    <h2>
        <span jhiTranslate="tokentradeApp.tradingOrderType.home.title">Trading Order Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-trading-order-type" [routerLink]="['/', { outlets: { popup: ['trading-order-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="tokentradeApp.tradingOrderType.home.createLabel">
            Create new Trading Order Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tokentradeApp.tradingOrderType.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tradingOrderTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="tokentradeApp.tradingOrderType.tradingOrdertype">Trading Ordertype</span></th>
            <th><span jhiTranslate="tokentradeApp.tradingOrderType.supportedMarket">Supported Market</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tradingOrderType of tradingOrderTypes ;trackBy: trackId">
                <td><a [routerLink]="['../trading-order-type', tradingOrderType.id ]">{{tradingOrderType.id}}</a></td>
                <td>{{tradingOrderType.tradingOrdertype}}</td>
                <td>
                    <div *ngIf="tradingOrderType.supportedMarket">
                        <a [routerLink]="['../market', tradingOrderType.supportedMarket?.id ]" >{{tradingOrderType.supportedMarket?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../trading-order-type', tradingOrderType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trading-order-type/'+ tradingOrderType.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'trading-order-type/'+ tradingOrderType.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
