<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTradingOrderTypeLabel" jhiTranslate="tokentradeApp.tradingOrderType.home.createOrEditLabel">Create or edit a Trading Order Type</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tradingOrderType.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tradingOrderType.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrderType.tradingOrdertype" for="field_tradingOrdertype">Trading Ordertype</label>
            <input type="text" class="form-control" name="tradingOrdertype" id="field_tradingOrdertype"
                [(ngModel)]="tradingOrderType.tradingOrdertype" required />
            <div [hidden]="!(editForm.controls.tradingOrdertype?.dirty && editForm.controls.tradingOrdertype?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tradingOrdertype?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.tradingOrderType.supportedMarket" for="field_supportedMarket">Supported Market</label>
            <select class="form-control" id="field_supportedMarket" name="supportedMarket" [(ngModel)]="tradingOrderType.supportedMarket" >
                <option [ngValue]="null"></option>
                <option [ngValue]="marketOption.id === tradingOrderType.supportedMarket?.id ? tradingOrderType.supportedMarket : marketOption" *ngFor="let marketOption of markets; trackBy: trackMarketById">{{marketOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
