
<div *ngIf="wallet">
    <h2><span jhiTranslate="tokentradeApp.wallet.detail.title">Wallet</span> {{wallet.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.wallet.description">Description</span></dt>
        <dd>
            <span>{{wallet.description}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.wallet.publicKey">Public Key</span></dt>
        <dd>
            <span>{{wallet.publicKey}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.wallet.currency">Currency</span></dt>
        <dd>
            <div *ngIf="wallet.currency">
                <a [routerLink]="['/currency', wallet.currency?.id]">{{wallet.currency?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.wallet.client">Client</span></dt>
        <dd>
            <div *ngIf="wallet.client">
                <a [routerLink]="['/client', wallet.client?.id]">{{wallet.client?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wallet/'+ wallet.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
