<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWalletLabel" jhiTranslate="tokentradeApp.wallet.home.createOrEditLabel">Create or edit a Wallet</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!wallet.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="wallet.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.wallet.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="wallet.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.wallet.publicKey" for="field_publicKey">Public Key</label>
            <input type="text" class="form-control" name="publicKey" id="field_publicKey"
                [(ngModel)]="wallet.publicKey" required />
            <div [hidden]="!(editForm.controls.publicKey?.dirty && editForm.controls.publicKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.publicKey?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.wallet.currency" for="field_currency">Currency</label>
            <select class="form-control" id="field_currency" name="currency" [(ngModel)]="wallet.currency" >
                <option [ngValue]="null"></option>
                <option [ngValue]="currencyOption.id === wallet.currency?.id ? wallet.currency : currencyOption" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.wallet.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="wallet.client" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id === wallet.client?.id ? wallet.client : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
