
<div *ngIf="clientGroup">
    <h2><span jhiTranslate="tokentradeApp.clientGroup.detail.title">Client Group</span> {{clientGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.clientGroup.name">Name</span></dt>
        <dd>
            <span>{{clientGroup.name}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.clientGroup.client">Client</span></dt>
        <dd>
            <span *ngFor="let client of clientGroup.clients; let last = last">
                <a [routerLink]="['/client', client?.id ]">{{client.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-group/'+ clientGroup.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
