
<div *ngIf="alertEvent">
    <h2><span jhiTranslate="tokentradeApp.alertEvent.detail.title">Alert Event</span> {{alertEvent.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tokentradeApp.alertEvent.currentPrice">Current Price</span></dt>
        <dd>
            <span>{{alertEvent.currentPrice}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.alertEvent.alertPrice">Alert Price</span></dt>
        <dd>
            <span>{{alertEvent.alertPrice}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.alertEvent.fired">Fired</span></dt>
        <dd>
            <span>{{alertEvent.fired}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.alertEvent.note">Note</span></dt>
        <dd>
            <span>{{alertEvent.note}}</span>
        </dd>
        <dt><span jhiTranslate="tokentradeApp.alertEvent.asset">Asset</span></dt>
        <dd>
            <div *ngIf="alertEvent.asset">
                <a [routerLink]="['/asset', alertEvent.asset?.id]">{{alertEvent.asset?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'alert-event/'+ alertEvent.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
