<div>
    <h2>
        <span jhiTranslate="tokentradeApp.alertEvent.home.title">Alert Events</span>
        <button class="btn btn-primary float-right jh-create-entity create-alert-event" [routerLink]="['/', { outlets: { popup: ['alert-event-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="tokentradeApp.alertEvent.home.createLabel">
            Create new Alert Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'tokentradeApp.alertEvent.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="alertEvents">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currentPrice"><span jhiTranslate="tokentradeApp.alertEvent.currentPrice">Current Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="alertPrice"><span jhiTranslate="tokentradeApp.alertEvent.alertPrice">Alert Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fired"><span jhiTranslate="tokentradeApp.alertEvent.fired">Fired</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="note"><span jhiTranslate="tokentradeApp.alertEvent.note">Note</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="asset.id"><span jhiTranslate="tokentradeApp.alertEvent.asset">Asset</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let alertEvent of alertEvents ;trackBy: trackId">
                <td><a [routerLink]="['../alert-event', alertEvent.id ]">{{alertEvent.id}}</a></td>
                <td>{{alertEvent.currentPrice}}</td>
                <td>{{alertEvent.alertPrice}}</td>
                <td>{{alertEvent.fired}}</td>
                <td>{{alertEvent.note}}</td>
                <td>
                    <div *ngIf="alertEvent.asset">
                        <a [routerLink]="['../asset', alertEvent.asset?.id ]" >{{alertEvent.asset?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../alert-event', alertEvent.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alert-event/'+ alertEvent.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alert-event/'+ alertEvent.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
