<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAlertEventLabel" jhiTranslate="tokentradeApp.alertEvent.home.createOrEditLabel">Create or edit a Alert Event</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!alertEvent.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="alertEvent.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.alertEvent.currentPrice" for="field_currentPrice">Current Price</label>
            <input type="number" class="form-control" name="currentPrice" id="field_currentPrice"
                [(ngModel)]="alertEvent.currentPrice" required />
            <div [hidden]="!(editForm.controls.currentPrice?.dirty && editForm.controls.currentPrice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.currentPrice?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.currentPrice?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.alertEvent.alertPrice" for="field_alertPrice">Alert Price</label>
            <input type="number" class="form-control" name="alertPrice" id="field_alertPrice"
                [(ngModel)]="alertEvent.alertPrice" required />
            <div [hidden]="!(editForm.controls.alertPrice?.dirty && editForm.controls.alertPrice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.alertPrice?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.alertPrice?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.alertEvent.fired" for="field_fired">Fired</label>
            <input type="checkbox" class="form-control" name="fired" id="field_fired"
                [(ngModel)]="alertEvent.fired"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.alertEvent.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                [(ngModel)]="alertEvent.note"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="tokentradeApp.alertEvent.asset" for="field_asset">Asset</label>
            <select class="form-control" id="field_asset" name="asset" [(ngModel)]="alertEvent.asset" >
                <option [ngValue]="null"></option>
                <option [ngValue]="assetOption.id === alertEvent.asset?.id ? alertEvent.asset : assetOption" *ngFor="let assetOption of assets; trackBy: trackAssetById">{{assetOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
